@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/static//Montserrat-Regular.ttf') format('truetype');
  font-weight: 1 1000;
  font-style: normal;
}



.contenedor-busqueda-contribuyente {
  position: absolute;
  margin: 0 auto;
  left: 0;
  top: 0;
  width: 100%;
  color: var(--color-text);
}

.busqueda-contribuyente {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  gap: 20px;
  padding: 20px;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto; */
  position: relative;
}

.busqueda-contribuyente .card {
  width: 500px;
  max-width: 100%;
}

.busqueda-contribuyente .title {
  color: var(--color-text);
  width: 100%;
  margin: 20px;
  text-shadow: -9px 13px 17px #4c5b69;
  font-weight: 700;
}

.busqueda-contribuyente .container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  gap: 20px
}

.busqueda-contribuyente .containerArticle {
  flex-grow: 1;
  /* max-width: 350px; */
  /* box-shadow: 0px 0px 1px 1px; */
  border-radius: 10px;
  padding: 10px
}

.busqueda-contribuyente .articleHeader {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  gap: 15px;
  align-items: center;
}

.busqueda-contribuyente .article {
  justify-content: center;
  flex-grow: 1;
  color: var(--color-text);
}

/** 
** Elimina el relleno de los elementos de lista 
*/
.busqueda-contribuyente .listItem {
  padding: 0;
}

.busqueda-contribuyente .listItemText {
  /** Tamaño de fuente de los elementos de lista */
  font-size: 16px,
}

.busqueda-contribuyente .paper {
  /** Espacio interior del papel */
  font: inherit;
}

.busqueda-contribuyente .iconSubtitle {
  font-size: 33px;
}

.fotografias {
  position: relative;
  width: 100%;
  /*  */
}

.fotografias .when_files_dragging {
  z-index: 1;
  color: var(--color-text);
  position: absolute;
  /* background-color: #181818f7; */
  background-color: #fcfcfcda;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.tr-location {
  flex-wrap: wrap;
  /* justify-content: center; */
}

.first-cell-location {
  max-width: 33.3%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.cell-location {
  /* flex-wrap: wrap; */
  /* max-width: 33%; */
  overflow: hidden;
}