.GoogleMapsPrincipal {
  display: flex;
  width: auto;
}

.GoogleMapsPrincipalMapaParent {
  flex-grow: 1;
}

.GoogleMapsPrincipalPanoramaParent {
  flex-grow: 1;
}

.GoogleMapsPrincipalMapa,
.GoogleMapsPrincipalPanorama {
  float: left;
  width: 100%;
  height: 450px;
}

.GoogleMapsPrincipalMapa {
  /* inline-size: auto; */
}

.GoogleMapsPrincipalPanorama {
  /* inline-size: auto; */
}